 .container-fluid{
    font-size: 35px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    background: #5697b4;
    height: 40px;
} 
.space a{ 
    border: 1px;
    text-decoration: none;
    color:white;
    
}

a:active{
    background:#e35883;
    color: aliceblue;
  
}

.space{
    display: flex;
    justify-content: space-between;
   
}

body {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

.display{
    text-align: center;
    font-size: 25px;
    padding: 80px;
} 

.box{
  
    height:50px;
    width: 150px;
    background:#9dbfcf;
    color: aliceblue;
}
